body {
  background-color: rgb(23, 23, 34);
  margin: 10rem;
}
#contenair {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  width: 30rem;
  background-color: rgb(31, 31, 44);

  border-radius: 15px;
}
.contenaire-advice-title {
  color: aqua;
}
.contenaire-advice {
  color: aliceblue;
}
.advice-disign {
  margin: 3rem;
}
.advice-disign-de {
  align-items: center;
  margin-top: -1.6rem;
  padding-top: 0.7rem;
  background-color: aqua;
  width: 3rem;
  height: 2.5rem;
  border-radius: 50%;
}
.advice-disign-de img {
  width: 21px;
  margin: 4px;
}
.advice-disign-de :hover {
  box-shadow: 0px 0px 10px aqua, 0px 0px 20px aqua, 0px 0px 40px aqua;
}
